/* dimensions & containers */

.wd-button-icon {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 1;
}

.wd-tuit-text-area-icons-dims {
    width: 110px;
    height: 20px;
}

.wd-tuit-text-area-tweet-button-dims {
    width: 80px;
}

.wd-inline-flex-container {
    display: inline-flex;
}

/* colors */

.wd-button-icon > i:hover {
    color: #20759c;
}

.wd-tuit-text-area-icon-color {
    color: #2a9fd6;
}

/* borders */

.wd-tuit-text-area-bottom-border {
    border-bottom: rgb(47, 51, 54) solid 1px;
}

.wd-transparent-border {
    border: transparent;
}

/* overrides */

.col-2.wd-whats-happening-icon-override {
    width: 14%;
}

.col-10.wd-whats-happening-text-area-override {
    width: 86%
}

/* formatting */

.wd-disable-textarea-resize {
    resize: none;
}

.wd-no-focus:focus {
    outline: none;
}

