/* overrides */

.wd-avatar-col {
    width: 64px;
    display: inline-block;
}

.col.wd-post-width-override {
    width: calc(100% - 64px)!important;
}

.wd-x-width {
    width: 14px;
}

.col.wd-name-handle-width-override {
    width: calc(100% - 34px)!important;
}

button.wd-button-icon-override {
    font-size: 14px;
    padding: 0;
}

.btn.wd-focus-override:focus {
    outline: none!important;
    box-shadow: none!important;
}

.list-group-item.wd-transparent-background-override {
    background-color: transparent;
}

.wd-align-text-center {
    text-align: center;
}

.wd-font-14 {
    font-size: 14px;
}

.pt-2.wd-icon-padding-top-override {
    padding-top: 0.8rem!important;
}

.wd-transparent-border {
    border: transparent;
}

.wd-no-focus:focus {
    outline: none;
}

.wd-disable-textarea-resize {
    resize: none;
}

.wd-tuit-text-area-bottom-border {
    border-bottom: rgb(47, 51, 54) solid 1px;
}

.wd-tuit-text-area-tweet-button-dims {
    width: 80px;
}

.wd-inline-flex-container {
    display: inline-flex;
}

.wd-tuit-text-area-icons-dims {
    width: 110px;
    height: 20px;
}

.wd-tuit-text-area-icon-color {
    color: #2a9fd6;
}

.col-2.wd-whats-happening-icon-override {
    width: 14%;
}

.col-10.wd-whats-happening-text-area-override {
    width: 86%
}