.wd-avatar-col {
    width: 64px;
    display: inline-block;
}

.col.wd-post-width-override {
    width: calc(100% - 64px)!important;
}

.wd-x-width {
    width: 14px;
}

.col.wd-name-handle-width-override {
    width: calc(100% - 34px)!important;
}

button.wd-button-icon-override {
    font-size: 14px;
    padding: 0;
}

.btn.wd-focus-override:focus {
    outline: none!important;
    box-shadow: none!important;
}

.list-group-item.wd-transparent-background-override {
    background-color: transparent;
}

.wd-align-text-center {
    text-align: center;
}

.wd-font-14 {
    font-size: 14px;
}

.pt-2.wd-icon-padding-top-override {
    padding-top: 0.8rem!important;
}








