/* overrides */

.wd-avatar-col {
    width: 64px;
    display: inline-block;
}

div.wd-ellipses-line-height {
    line-height: 0;
}

div.wd-ellipses-line-height > i {
    line-height: 0.5;
}

.col.wd-post-width-override {
    width: calc(100% - 64px)!important;
}

.wd-ellipses-width {
    width: 26px;
}

.col.wd-name-handle-width-override {
    width: calc(100% - 34px)!important;
}

button.wd-button-icon-override {
    font-size: 14px;
    padding: 0;
}

.btn.wd-focus-override:focus {
    outline: none!important;
    box-shadow: none!important;
}

button.wd-button-icon-fill-on-hover:hover > i {
    color: #2a9fd6!important;
}

button.wd-text-color-on-hover:hover > span {
    color: #2a9fd6!important;
}

button.wd-highlight-border-on-hover:hover > i {
    -webkit-text-stroke-color: #2a9fd6!important;
    -webkit-text-stroke-width: 1px;
}

button.wd-highlight-border-on-hover:hover > span {
    color: #2a9fd6!important;
    font-weight: normal;
}

.list-group-item.wd-transparent-background-override {
    background-color: transparent;
}

.wd-align-text-center {
    text-align: center;
}

.wd-font-14 {
    font-size: 14px;
}

.pt-2.wd-icon-padding-top-override {
    padding-top: 0.8rem!important;
}