/* dimensions & containers */

.wd-explore-page-min-width {
    min-width: 162px;
}

.wd-fill-horizontal-width {
    width: calc(100% - 110px);
}

.wd-gear-dimensions {
    height: 100%;
    width: 21px;
}

.wd-link-box-separator {
    border-top-style: solid;
    border-top-width: 3px;
    height: 10px;
    width: calc(100% + 1px);
}

.wd-content-photo-container {
    height: 100px;
    display: flex;
}

.wd-content-photo {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.wd-tuit-text-content-container {
    height: 70px;
}

.wd-tuit-count-container {
    height: 20px;
}

.wd-content-text-container-tall {
    height: 65px;
}

.wd-content-text-container-short {
    height: 25px;
}

.wd-gear-link {
    font-size: 24px;
    position: absolute;
}

.wd-tuit-suggested-icon {
    width: 17px;
    height: 17px;
    margin-right: 3px;
}

/* colors */

.wd-dark-grey-fill {
    background-color: darkgrey;
}

.wd-solid-baby-blue-text-color {
    color: rgb(29,161,242);
}

.wd-faded-white-placeholder-text::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.wd-very-dark-grey-fill {
    background-color: rgb(33, 33, 36);
}

.wd-sub-text-color {
    color: rgb(110, 118, 125);
}

/* padding & margins */

.wd-padding-l-16-r-12 {
    padding-left: 16px;
    padding-right: 12px;
}

.wd-search-input-padding {
    padding: 7px 20px;
}

.wd-search-input-right-margin {
    margin-right: 40px;
}

.wd-outer-link-padding {
    padding: 16px;
}

.wd-padding-top-3 {
    padding-top: 3px;
}

.wd-margin-left-10 {
    margin-left: 10px;
}

/* borders */

.wd-explore-page-border-margins {
    width: calc(100% - 20px);
    margin-left: 9px;
    margin-right: 9px;
}

.wd-rounded-box {
    border-radius: 20px;
    border-width: 0px;
}

.wd-topic-link-bottom-border {
    position: relative;
    top: 16px;
    display: block;
    box-sizing: border-box;
    border-bottom: rgb(29,161,242) solid 3px;
}

.wd-border-spacing-0 {
    border-spacing: 0;
}

/* font & text formatting */

.wd-hide-wrapping-text {
    overflow: hidden;
}

.wd-size-16-font {
    font-size: 16px;
}

/* html element manipulation */

.wd-input-outline-hider:focus {
    outline: none;
}