.wd-explore-page-border-margins {
    width: calc(100% - 40px);
    margin-left: 29px;
    margin-right: 9px;
    min-width: 142px;
}

.wd-explore-body-content {
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
    min-width: 142px;
}

.wd-padding-l-16-r-12 {
    padding-left: 16px;
    padding-right: 12px;
}

.wd-dark-grey-fill {
    background-color: darkgrey;
}

.wd-fill-horizontal-width {
    width: calc(100% - 110px);
}

.wd-search-field-container-height {
    height: 33px;
}

.wd-rounded-box {
    border-radius: 20px;
    border-width: 0px;
}

.wd-search-input-padding {
    padding: 7px 20px;
}

.wd-search-input-right-margin {
    margin-right: 40px;
}

.wd-faded-white-placeholder-text::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.wd-input-outline-hider:focus {
    outline: none;
}

.wd-gear-dimensions {
    height: 100%;
    width: 21px;
}

.wd-gear-link {
    font-size: 24px;
    position: absolute;
}

.wd-padding-top-bottom-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.wd-solid-baby-blue-text-color {
    color: rgb(29,161,242);
}

.wd-topic-link-border {
    border-bottom: rgb(29,161,242) solid 3px;
}

.wd-outer-link-padding {
    padding: 16px 16px 0px 16px;
}

.wd-link-bottom-padding {
    padding-bottom: 16px;
}

.wd-link-box-separator {
    border-top-style: solid;
    border-top-width: 3px;
    height: 10px;
    width: calc(100% + 1px);
}

.wd-very-dark-grey-fill {
    background-color: rgb(33, 33, 36);
}

.wd-content-photo-container {
    height: 100px;
    display: flex;
}

.wd-content-photo {
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.wd-tuit-text-content-container {
    height: 70px;
}

.wd-tuit-count-container {
    height: 20px;
}

.wd-sub-text-color {
    color: rgb(110, 118, 125);
}

.wd-content-text-container-tall {
    height: 65px;
}

.wd-content-text-container-short {
    height: 25px;
}

.wd-padding-top-3 {
    padding-top: 3px;
}

.wd-margin-left-10 {
    margin-left: 10px;
}

.wd-article-image-container-dimensions {
    width: 506px;
    height: 265px;
}

.wd-article-image-dimensions {
    width: 504px;
    height: 264px;
}

.wd-article-image-border {
    border-width: 1px 1px 0px 1px;
    border-style: solid;
}

.wd-article-image-border-radius {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.wd-article-image {
    overflow: hidden;
    margin: 12px 0px 0px 0px;
}

.wd-article-description-border-radius {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.wd-article-description-dimensions {
    width:480px;
    height:85px;
}

.wd-article-description-padding {
    padding:12px;
}

wd-article-content-border-top {
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-width: 1px;
}

.wd-article-content-border-bottom {
    border-style: solid;
    border-width: 1px;
}

.wd-ellipsis-extended-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.wd-hide-wrapping-text {
    overflow: hidden;
}

.wd-truncate-article-content-title {
    padding-right: 100px;
}

.wd-article-content-slight-top-margin {
    margin-top: 2px;
}

.wd-article-link-box-dimensions {
    width: 504px;
}

.wd-icon-spacing {
    margin-left: 12px;
}

.wd-color-red {
    color: red;
}

.wd-article-icon-padding-right-inside {
    padding-right: 90px;
}

.wd-article-icon-padding-right-outside {
    padding-right: 80px;
}

.wd-tuit-image-content-padding {
    padding: 12px 16px 0px 12px;
}

.wd-image-content-dimensions {
    height: 422px;
    width: 506px;
}

.wd-tuit-header-dimensions {
    height: 100px;
    width: 506px;
}