/* dimensions & containers */

.wd-sidebar-images {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    margin-top: 2px;
}

.wd-follow-button-container {
    display: flex;
    justify-content: center;
}

.wd-tuiter-search {
    border: 0;
    width: calc(100% - 45px);
    margin-left: 15px;
    font-size: 15px;
}

.wd-tuiter-search-row-container {
    height: 35px;
}

.wd-full-height {
    height: 100%;
}

.wd-tuit-image-size {
    height: 90px;
    width: 90px;
}

.wd-fixed-gear-icon {
    width: 30px;
    height: 100%;
}

.wd-full-width {
    width: 100%
}

/* padding & margins */

.wd-fill-height-half {
    height: 45%;
}

.wd-bootstrap-padding-as-margins {
    margin-right: calc(var(--bs-gutter-x) * .5);
    margin-left: calc(var(--bs-gutter-x) * .5);
}

/* borders */

.wd-0-border {
    border: 0;
}

.wd-bottom-border {
    border-bottom: 1px solid #dee2e6!important;
}

.wd-tuit-border-radius {
    border-radius: 10px;
}

/* sizing */

.wd-1-point-5-x {
    font-size: 1.5em;
}

.wd-search-icon-line-height {
    line-height: 2;
}

/* fonts and font styling */

.wd-bold-font {
    font-weight: bold;
}

.wd-normal-font {
    font-weight: normal;
}

.wd-font-13 {
    font-size: 14px;
}

.wd-font-16 {
    font-size: 16px;
}

.wd-font-30 {
    font-size: 30px;
}

/* colors */

.wd-fg-color-black {
    color: black;
}

.wd-fg-bootstrap-blue {
    color: #0d6efd;
}

.wd-fg-color-white {
    color: white;
}

.wd-fg-color-grey {
    color: grey;
}

/* display */

.wd-display-inline-block {
    display: inline-block;
}

.wd-display-flex {
    display: flex;
}

.wd-float-left {
    float: left;
}

.wd-visible-overflow{
    overflow: visible;
    white-space: nowrap;
    z-index: 1;
}

/* tag manip */

.wd-hide-border:focus {
    outline: none!important;
}

.wd-a-href-position-compensator {
    position: relative;
    top: -5px;
}

.wd-tuit-line-height {
    line-height: 1.4;
}

.wd-position-relative {
    position: relative;
}

/* overrides */

.fa-stack.overlap-override {
    width: 1.5em;
}

.list-group-item.padding-top-bottom-override {
    padding-bottom: 0.35rem;
    padding-top: 0.3rem;
}

.col-2.image-override {
    padding-left: calc(var(--bs-gutter-x) * .3);
    width: 18%;
}

.col-4.button-override {
    padding-left: calc(var(--bs-gutter-x) * .3);
    padding-right: calc(var(--bs-gutter-x) * .1);
    width: 27%;
}

.btn.follow-button-override {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    height: 30px;
    line-height: 0.5;
}

.row.follow-row-override {
    height: 45px;
}

div.col-3.tuit-image-override {
    width: 98px;
}

/* media query */

@media (min-width: 1400px) {
    span.wd-text-overlay {
        position: absolute;
        width: 400px;
        top: 366px;
        font-size: 32px;
        font-weight: bold;
    }

    div.col-xxl-6.xxl-width-override {
        width: 49%;
    }

    div.col-xxl-3.xxl-width-override {
        width: 30%;
    }

    div.col-xxl-2.xxl-width-override {
        width: 15.5%;
    }

    div.col-7.follow-handle-override {
        padding-left: 0;
        padding-right: 0;
        width: 55%;
    }

    div.col-2.image-override {
        padding-left: calc(var(--bs-gutter-x) * .3);
        width: 18%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {

    span.wd-text-overlay {
        position: absolute;
        width: 300px;
        top: 314px;
        font-size: 32px;
        font-weight: bold;
    }

    div.col-xl-3.xl-width-override {
        width: 27%;
    }

    div.col-xl-2.xl-width-override {
        width: 14%;
    }

    div.col-7.follow-handle-override {
        padding-left: 0;
        padding-right: 0;
        width: 49%;
    }

    div.col-2.image-override {
        padding-left: calc(var(--bs-gutter-x) * .3);
        width: 20%;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {

    span.wd-text-overlay {
        position: absolute;
        width: 300px;
        top: 309px;
        font-size: 32px;
        font-weight: bold;
    }

    div.col-7.follow-handle-override {
        padding-left: 0;
        padding-right: 0;
        width: 47%;
    }

    div.col-lg-4.l-width-override {
        width: 28%;
    }

    .disappear-content-lg {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    span.wd-text-overlay {
        position: absolute;
        width: 300px;
        top: 338px;
        font-size: 30px;
        font-weight: bold;
    }

    .disappear-content-m {
        display: none;
    }

}

@media (min-width: 576px) and (max-width: 767px) {

    span.wd-text-overlay {
        position: absolute;
        width: 300px;
        top: 234px;
        font-size: 28px;
        font-weight: bold;
    }

    .disappear-content-s {
        display: none;
    }

    div.col-sm-10.sm-content-override {
        width: 81.33%
    }

    .me-3.search-bar-override {
        margin-right: 6px!important;
    }
}

/* dark mode overrides */

.wd-fg-color-greyish-white {
    color: #c6c6c6;
}

.wd-fg-color-greyish-white::placeholder {
    color: rgba(198, 198, 198, 0.5);
}

.wd-fg-color-greyish-white > i {
    color: #c6c6c6;
}

.wd-fg-color-greyish-white > a {
    color: #c6c6c6;
}

.wd-fg-color-greyish-white > li {
    color: #c6c6c6;
}

.wd-bg-color-black {
    background-color: black;
}
.wd-bg-color-black > i {
    background-color: black;
}

.wd-bg-color-black > a {
    background-color: black;
}

.active.navigation-override {
    border: 0!important;
    background-color: black;
    font-weight: bold;

}

.list-group-item.active.active-color-override {
    color: #c6c6c6;
}

.list-group.border-override {
    border: 0!important;
    border-radius: 1.25rem!important;
}

.list-group-item.border-override {
    border: 0!important;
}

.btn-primary.bright-override {
    background-color: #10aeff;
    border-color: #10aeff;
}

.wd-border-color-grey {
    border-color: rgb(110,118,125);
}

.wd-bg-color-grey {
    background-color: rgb(110,118,125);
}

.wd-fg-color-darker-grey {
    color: rgb(72, 74, 76);
}

.wd-bg-color-grey > li {
    background-color: rgb(72, 74, 76);
}

.fa.fa-icon-override {
    color: transparent;
    -webkit-text-stroke-color: #c6c6c6;
    -webkit-text-stroke-width: 1px;
}

.fa.fa-icon-gear-override {
    color: transparent;
    -webkit-text-stroke-color: #c6c6c6;
    -webkit-text-stroke-width: 2px;
}

.fa-inverse.inverse-color-override {
    color: #c6c6c6;
}

.btn-primary.follow-button-color-override {
    background-color: white;
    color: rgb(72, 74, 76);
    font-weight: bold;
    border: 0;
}

.border.search-bar-border-override {
    border-color: black!important;
}

.nav-tabs.navigation-style-override {
    border: 0;
    justify-content: space-between;
}


.nav-tabs.navigation-style-override > li > a {
    background-color: transparent;
    color: rgb(110,118,125);
    border: 0;
    padding: 0.5rem 0rem;
}

.nav-link.active.active-navigation-style-override {
    background-color: transparent;
    color: #c6c6c6;
    font-weight: bold;
    border-bottom: 5px solid #10aeff;
}

.wd-image-border {
    border-width: 1px;
    border-style: solid;
}

.border.tuit-content-border-style-override {
    border-left: 1px solid rgb(110,118,125)!important;
    border-right: 1px solid rgb(110,118,125)!important;
    border-top: 0!important;
    border-bottom: 0!important;
    border-radius: 0!important;
}

.main-content-border-override {
    position: absolute;
    top: -8px;
    z-index: -1;
    border-left: 1px solid rgb(110,118,125)!important;
    border-right: 1px solid rgb(110,118,125)!important;
    width: calc(100% - 24px);
    height: 100vh;
}
